<h4 class="text-center"> Register to embrace a new world!</h4>
<form [formGroup]="signUpForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input #emailInput formControlName='email' placeholder="email" class="form-control" autofocus >
        <ap-vmessage
          *ngIf="signUpForm.get('email').errors?.required"
          text='Email is required'
        >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="signUpForm.get('email').errors?.email"
          text='Invalid email'
        >
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName='fullName' placeholder="full name" class="form-control">
        <ap-vmessage
          *ngIf="signUpForm.get('fullName').errors?.required"
          text='Full Name is required'
        >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="signUpForm.get('fullName').errors?.minlength"
          text='Min length is 2'
        >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="signUpForm.get('fullName').errors?.maxlength"
          text='Max length is 40'
        >
        </ap-vmessage>
    </div>
    <div class="form-group">
        <input formControlName='userName' placeholder="user name" class="form-control">
        <ap-vmessage
          *ngIf="signUpForm.get('userName').errors?.required"
          text='Username is required'
        >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="signUpForm.get('userName').errors?.minlength"
          text='Min length is 2'
        >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="signUpForm.get('userName').errors?.maxlength"
          text='Max length is 30'
        >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="signUpForm.get('userName').errors?.lowerCase"
          text='Must be lower case'
        >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="signUpForm.get('userName').errors?.userNameTaken"
          text='Username is already taken'
        >
        </ap-vmessage>
        <small
          class="text-success"
          *ngIf="signUpForm.get('userName').valid"
        >
          Username available
        </small>
    </div>
    <div class="form-group">
      <input formControlName='password' type="password" placeholder="password" class="form-control">
      <ap-vmessage
        *ngIf="signUpForm.get('password').errors?.required"
        text='Password is required'
      >
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signUpForm.get('password').errors?.minlength"
        text='Min length is 8'
      >
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signUpForm.get('password').errors?.maxlength"
        text='Max length is 18'
      >
      </ap-vmessage>
    </div>
    <button [disabled]="signUpForm.invalid || signUpForm.pending" class="btn btn-primary btn-block">Register</button>

    <p>Already a user?
        <a [routerLink]="['']"> Sign In!</a>
    </p>
</form>
