<ap-search
	(onTyping)='filter = $event'
	[value]='filter'
>
</ap-search>
<ap-photos [photos]='photos | filterByDescription: filter'></ap-photos>
<ap-load-button
	[hasMore]='hasMore'
	(click)='loadMorePhotos()'
>
</ap-load-button>